p {
  color: rgb(111, 100, 160);
}

h1, h2 {
  text-align: center;
  color: rgb(74, 2, 116);
  font-size: 48px;
  font-family: "Papyrus", "Copperplate", sans-serif;
  margin:48px;
}

ul {
 list-style:none;
 font-size: 28px;
 text-align: center;
 margin: 48px;
 margin-bottom: 48px;
}

li{
 margin: 12px;
}

li:hover {
 background-color: rgb(20, 185, 250);
 
 margin: 24px;
}


a {
color: rgb(113, 25, 214);

}


.subheader {
  font-size: 32px;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

#grad {
background-image: linear-gradient(to bottom right, rgb(105, 204, 250), rgb(231, 176, 245));
}

#reference {
text-align: right;
}